body{
background:#0f172a;
color:white;
font-family:Arial;
}

.chatbox{
width:90%;
max-width:600px;
margin:auto;
margin-top:50px;
}

#msgs{
height:300px;
overflow:auto;
background:#1e293b;
padding:10px;
margin:10px 0;
}
